<div class="login-form p-5">
  <form class="form" name="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
    [ngClass]="{formsubmitted: !!formSubmited}">
    <h2 class="text-center">Log in</h2>

    <div class="form-group mt-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" class="form-control" formControlName="userName" placeholder="Username">
      <div class="text-danger text-left" *ngIf="!!formSubmited || userName.dirty || userName.touched">
        <!-- Error messages -->
        <span *ngIf="userName.hasError('required')">Username is required</span>
      </div>
    </div>

    <div class="form-group mt-3">
      <label for="exampleInputEmail1" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
      <div class="text-danger text-left" *ngIf="!!formSubmited || password.dirty || password.touched">
        <!-- Error messages -->
        <span *ngIf="password.hasError('required')">Password is required</span>
      </div>
    </div>

    <div *ngIf="!!invalidLoginAttempt" class="alert alert-danger mt-3" role="alert">
      Login failed, please enter a valid credential
    </div>

    <div class="form-group mt-3 text-center">
      <button type="submit" class="btn btn-primary me-5 ps-5 pe-5">Log in</button>
      <button type="button" (click)="cancel()" class="btn btn-light btn-cancel ps-5 pe-5">Cancel</button>
    </div>

  </form>
</div>